.link {
    cursor: pointer;
}

// select2
.select2 {
    width: 100% !important;
}

// input locales
.input-box {
    position: relative;
}

.toggle-locale {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    opacity: 0.3;

    &:hover {
        opacity: 1;
    }

    &::after {
        display: none !important;
    }

    select {
        font-weight: bold;
        padding: 0.4rem 0.5rem 0.5rem !important;
        text-transform: capitalize;
        border: none;
        background-color: transparent;
    }
}

.toggle-pad {
    padding-right: 32px;
}

// tinymce
.mce-path {
    display: none !important;
}

div.mce-edit-area {
    border-right-width: 1px !important;
}

// nest
.menu-item {
    margin-bottom: 0.5em !important;
    padding: 0.5em;
    padding-left: 1em;
}

.menu-list {
    line-height: inherit;
}

.dragArea {
    display: block;
    min-height: 25px;
}

.notification > .delete {
    top: 0.45em;
}

.ghost {
    opacity: 1;
}

.is-white {
    color: white;
}
